body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #517492;
}

.table-wrapper {
    width: 500px;
}

.table-wrapper table {
    width: 100%;

    border-collapse: collapse;
    border: none;
}

.table-wrapper table th {
    padding: 5px 8px;

    text-transform: capitalize;
    
    background-color: #54628F;
    color: #fff;
    border: none;
}

.table-wrapper table td {
    padding: 8px 10px;

    text-transform: capitalize;

    background-color: rgba(255,255,255,.3);
    color: #fff;
    border: none;
}